.footer {
    margin-top: 40px;
    color: #d3d3d3;
    background-color: #232f3e;
}

.back__totop {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    background-color: #37475a;
}

.back__totop a {
    color: #d3d3d3;
    font-weight: 600;
    text-decoration: none;
}

.footer__links__container {
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-evenly;
    color: #d3d3d3;
    background-color: #232f3e;
}

.links__container {
    margin-left: 16px;
    margin-right: 16px;
}

.footer__links__head {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}

.footer__links__nav {
    display: flex;
    justify-content: left;
    color: #d3d3d3;
    background-color: #232f3e;
    text-decoration: none;
    font-size: 14px;
    padding-top: 8px;
    transition: all 0.3s ease-in-out;
}

.footer__links__nav:hover {
    color: #cd9042;
    transition: all 0.3s ease-in-out;
}

.footer__logo__container {
    border-top: thin solid #37475a;
}

.footer__logo {
    display: block;
    background-color: #232f3e;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}